Repository arafaysaleem/ez_tickets_app, changes with the labels that .github/labeler.yml gives for each.
All labels: enums, extensions, utilities, helpers, models, providers, routes, local_storage, networking, repositories, interceptors, api, dio, shared-preferences, exceptions, services, views, screens, widgets, skeletons, presentation-layer, business-layer, data-layer, config, linting, analyzer, code-gen, CI/CD, assets, documentation, chores, native/android, gradle, tests

ci(Release-Build): add flutter test to pre release analysis
  .github/workflows/PR-merge-build-release.yaml
Labels: CI/CD

test(Models): add flutter test to pre-release analysis (#57)
  .github/workflows/PR-merge-build-release.yaml
Labels: CI/CD

refact(Enums): Fix names of extension classes on enums
  coverage/lcov.info
  lib/enums/booking_status_enum.dart
  lib/enums/payment_method_enum.dart
  lib/enums/show_type_enum.dart
  lib/enums/theater_type_enum.dart
Labels: enums

test(Enums): add unit tests for extensions on enums
  test/enums/booking_status_enum_test.dart
  test/enums/movie_type_enum_test.dart
  test/enums/payment_method_enum_test.dart
  test/enums/role_type_enum_test.dart
  test/enums/show_status_enum_test.dart
  test/enums/show_type_enum_test.dart
  test/enums/theater_type_enum_test.dart
  test/enums/user_role_enum_test.dart
Labels: tests

test(Enums): add unit tests for extensions on enums (#58)
  coverage/lcov.info
  lib/enums/booking_status_enum.dart
  lib/enums/payment_method_enum.dart
  lib/enums/show_type_enum.dart
  lib/enums/theater_type_enum.dart
  test/enums/booking_status_enum_test.dart
  test/enums/movie_type_enum_test.dart
  test/enums/payment_method_enum_test.dart
  test/enums/role_type_enum_test.dart
  test/enums/show_status_enum_test.dart
  test/enums/show_type_enum_test.dart
  test/enums/theater_type_enum_test.dart
  test/enums/user_role_enum_test.dart
Labels: enums, tests

chore(Coverage): generate new coverage suite
  coverage/lcov.info
Labels: none

chore(Coverage): generate new coverage suite (#59)
  coverage/lcov.info
Labels: none

chore(Pubspec): update dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

chore(Lint): Replace effective dart with flutter_lints
  analysis_options.yaml
  pubspec.lock
  pubspec.yaml
Labels: linting, analyzer

.github/labeler.yml:

enums:
  - any: ['lib/enums/**/*']

extensions:
  - any: [ 'lib/helper/extensions/**/*']

utilities:
  - any: [ 'lib/helper/utils/**/*']

helpers:
  - any: ['lib/helper/**/*','lib/enums/**/*']

models:
  - any: ['lib/models/**/*']

providers:
  - any: ['lib/providers/**/*']

routes:
  - any: ['lib/routes/**/*']

local_storage:
  - any: ['lib/services/local_storage/**/*']

networking:
   - any: ['lib/services/networking/**/*']

repositories:
  - any: ['lib/services/repositories/**/*']

interceptors:
  - any: ['lib/services/networking/interceptors/**/*']

api:
  - any: ['lib/services/networking/**/*api*']

dio:
  - any: ['lib/services/networking/**/*dio*']

shared-preferences:
  - any: ['lib/services/local_storage/**/*prefs*']

exceptions:
  - any: ['lib/**/*exception*']

services:
  - any: ['lib/services/**/*']

views:
  - any: ['lib/views/**/*']

screens:
  - any: ['lib/views/screens/**/*']

widgets:
  - any: ['lib/views/widgets/**/*']

skeletons:
  - any: ['lib/views/skeletons/**/*']

presentation-layer:
  - any: ['lib/views/**/*']

business-layer:
  - any: ['lib/providers/**/*','lib/helper/**/*','lib/enums/**/*','lib/routes/**/*']

data-layer:
  - any: ['lib/services/**/*','lib/models/**/*']

config:
  - any: ['lib/main.dart']

dependencies:
  - all: ['pubspec.yaml','pubspec.lock']

linting:
  - any: ['analysis_options.yaml']

analyzer:
  - any: ['analysis_options.yaml']

code-gen:
  - any: ['build.yaml']

CI/CD:
  - any: ['.github/**/*']

assets:
  - any: ['assets/**/*']

documentation:
  - any: ['README.md','doc/**/*']

chores:
  - any: ['.gitignore','README.md','.github/**/*']

native/android:
  - any: ['android/**/*']

gradle:
  - any: ['android/**/*']

tests:
  - any: [ 'test/**/*' ]
